/**
 * A simple stylesheet used by the browse.php demo
 *
 * $Id$
 * $ProjectHeader: ImpCMS 0.3 Fri, 05 Apr 2002 23:34:31 -0800 chris $
 *
 */

body {
	font-family:			Verdana, Arial, Sans-Serif;
	font-size:			10pt;

	margin:					0px;
	padding:					0px;
}

.Summary {
	font-style:			italic;
}

.DropCaps:first-letter {
	font-size:				175%;
	float:						left;
}

.Document {
	vertical-align:	top;

	border-right:		solid white 3px;
	border-left:		solid white 3px;
}

.Document .Title {
	background-color:		#CCCCEE;
	color:				black;

	font-size:			16pt;
	font-weight:		bold;

	text-align:			center;
	vertical-align:		baseline;

	line-height:		30px;
	margin-bottom:		3px;

	border-bottom:		dashed #333333 1px;
}

.Document .InfoHeader {
	font-size:			xx-small;
}

.NavList {
	vertical-align:		top;
	background-color:	#E0E0FF;
	color:				black;

	border-right:		dashed #333333 1px;
}

.NavList .Header {
	background-color:		#A0A0F0;
	color:				black;

	font-weight:		bold;

	text-align:			center;
	vertical-align:		bottom;

	line-height:		30px;
	border-bottom:		solid black 1px;

}

.NavList .Contents {
	padding:			3px;
	padding-left:		5px;
}

.NavList .Contents .ParentLink {
	text-decoration:	none;
	color:					black;

	display:				block;
}

.NavList .Contents .NavLink {
	color:				black;
	display:				block;
}

.ResourceList {
	vertical-align:		top;
	background-color:	#E0E0FF;
	color:				black;

	border-left:		dashed #333333 1px;
}

.ResourceList .Header {
	background-color:		#A0A0F0;
	color:				black;
	font-weight:		bold;

	text-align:			center;
	vertical-align:		bottom;

	line-height:		30px;
	border-bottom:		solid black 1px;
}

.ResourceList .Contents {
	padding:			3px;
	padding-left:		5px;
}
